/* font-family: 'Ephesis', cursive;
font-family: 'Inter', sans-serif;
font-family: 'poppins', sans-serif; */
*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1500px;
    width: 100%;
}
.top_header {
    padding: 7px 0;
    background: #000;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.top_header .social_media ul{
    padding: 0;
    margin: 0;
}
a.telephone {
    display: flex !important;
    text-decoration: none;
    align-items: center;
}
.telephone span {
    margin-left: 5px;
    font-size: 12px;
    color: #fff;
}
.social_media {
    display: flex;
    justify-content: space-between;
}
.top_header .social_media .social_media_wapper li a ,.location img{
    display: block;
    width: 25px !important;
    margin-right: 6px;
}
.top_header .social_media li a img{
    width: 100%;
}
.location li a {
    display: flex !important;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.logo h2{
    font-size: 34px;
    line-height: 1;
    color: #CA2121;
    font-family: 'Ephesis', cursive
}
.logo{text-align: center;}
.main_header {
    padding-top: 50px;
    background: rgba(8,20,20,1);
    padding-bottom: 10px;
}
.carousel-item {
    height: 580px;
}
.carousel-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.categories_heading {
    font-size: 36px;
    text-transform: capitalize;
    color: rgb(213, 55, 45);
    line-height: 1.5;
    border-style: none;
    letter-spacing: 0px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin: 0 auto 40px;
    position: relative;
}
ul.navigation{
    justify-content: center;
}
.brands {
    padding: 0 0 70px;
}
/* .layout {
    width: 1366px;
    height: 768px;
  
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  } */

.layout div {
    flex: 0 0 50%;
    margin-bottom: 50px;
}
.categories_items img{
    width: 100%;
}
.categories {
    padding: 70px 0;
}
.categories_items h6 {
    color: rgb(55, 55, 55);
    font-family: 'poppins', sans-serif;
    line-height: 1.4;
    letter-spacing: 0px;
    text-align: center;
}
.owl-item{
    width: 128.906px; 
    margin-right: 10px;
}
.owl-item img{
    height: 150px;
    width: 100%;
    object-fit: contain;
}
.owl-carousel .owl-item {
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation li a {
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Inter';
}
.navigation li {
    margin: 0 15px;
}

.categories_heading::before{
    width: 100%;
    height: 2px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}
.service_items {
    flex: 0 0 calc(50% - 20px);
    text-align: center;
    padding: 20px 10px;
    border-radius: 12px;
    transition: all 0.5s;
    background-color: #fff;
}
.service_items:hover {
    box-shadow: 0 0 17px rgba(23,84,116,.18);
    transform: scale(1.1);
}
.service_items figure {
    margin: 0 0 10px;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
}
.service_items figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service_items  h4 {
    color: rgb(55, 55, 55);
    font-family: 'poppins', sans-serif;
    line-height: 1.8;
    letter-spacing: 0px;
}
.service_items p {
    font-size: 14px;
    color: rgb(70, 70, 70);
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0px;
    margin-bottom: 40px;
}
a.explore_more {
    border: 1px solid #CA2121;
    color: #fff;
    background: #CA2121;
    padding: 8px 18px;
    border-radius: 100px;
    font-size: 13px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
}
.service_wapper {
    padding-bottom: 70px;
}
.about_us{
    padding-bottom: 70px;
}
.about_us{
    flex-direction: column-reverse;
    display: flex;
}
.about_us_img,.about_us_content {
    flex: 50%;
    text-align: center;
}

.about_us_img figure{
    text-align: center;
}
@media(min-width:767px){
    .categories_heading {
        font-size: 46px;
    }
    .layout div {
        flex: 0 0 33.33%;
    }
    .navigation li {
    margin-left: 30px;
}
.about_us{
    flex-direction: row;
    display: flex;
    padding-bottom: 70px;
    align-items: center;
}
	.about_us_content{
    padding: 50px;
}
}








@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap");

.content-wrapper {
	height: 100%;
	/* width: 70%; */
	/* max-width: 100rem; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 5rem;
}

.content-wrapper h1 {
	margin-bottom: calc(0.7rem + 0.5vmin);
	font-size: calc(2.3rem + 1vmin);
    color: #CA2121;
}

.blue-line {
	height: 0.3rem;
	width: 6rem;
	background-color:#CA2121;
	margin-bottom: calc(3rem + 2vmin);
}

.wrapper-for-arrows {
	position: relative;
	width: 100%;
	border-radius: 2rem;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	overflow: hidden;
	display: grid;
	place-items: center;
}

.review-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: calc(2rem + 1vmin);
	width: 100%;
}

#imgDiv {
	border-radius: 50%;
	width: calc(3rem + 4vmin);
	height: calc(3rem + 4vmin);
	position: relative;
	box-shadow: 2px 0px#CA2121;
	background-size: cover;
	margin-bottom: calc(0.7rem + 0.5vmin);
}

.chicken {
	background-image: url("https://media0.giphy.com/media/A8Cdznswn5vnG/200w.gif?cid=790b7611e8c5980ee7141bc18ec12c49962b871eb404ba5b&rid=200w.gif&ct=s");
	width: 200px;
	/* height: 250px; */
	position: absolute;
	top: 12%;
}



#personName {
	margin-bottom: calc(0.7rem + 0.5vmin);
	font-size: calc(1rem + 0.5vmin);
	letter-spacing: calc(0.1rem + 0.1vmin);
	font-weight: bold;
}

#profession {
	font-size: calc(0.8rem + 0.3vmin);
	margin-bottom: calc(0.7rem + 0.5vmin);
	color:#CA2121;
	display: none;
}

#description {
	font-size: calc(0.8rem + 0.3vmin);
	width: 70%;
	max-width: 40rem;
	text-align: center;
	margin-bottom: calc(1.4rem + 1vmin);
	color: rgb(92, 92, 92);
	line-height: 2rem;
	height: auto;
}

.arrow-wrap {
	position: absolute;
	top: 50%;
}

.arrow {
	width: calc(1.4rem + 0.6vmin);
	height: calc(1.4rem + 0.6vmin);
	border: solid#CA2121;
	border-width: 0 calc(0.5rem + 0.2vmin) calc(0.5rem + 0.2vmin) 0;
	cursor: pointer;
	transition: transform 0.3s;
}

.arrow:hover {
	transition: 0.3s;
	transform: scale(1.15);
}

.left-arrow-wrap {
	left: 5%;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.right-arrow-wrap {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	right: 5%;
}

.surprise-me-btn {
	border: 2px solid#CA2121;
	background-color: rgb(224, 238, 255);
	color:#CA2121;
	border-radius: 2rem;
	padding: calc(0.5rem + 0.2vmin) 0;
	width: calc(7rem + 5vmin);
	text-align: center;
	transition: background-color 0.3s, transform 0.3s;
	cursor: pointer;
	margin-bottom: calc(1.4rem + 1vmin);
	display: none;
}

.surprise-me-btn:hover {
	transition: background-color 0.3s, transform 0.3s;
	background-color: rgb(255, 255, 255);
	transform: rotate(5deg);
}

.move-head {
	animation: moveHead 1.55s infinite;
	animation-delay: -0.8s;
}

.hide-chicken-btn {
	border: 2px solid rgb(226, 89, 79);
	background-color: rgb(255, 224, 224);
	color: rgb(226, 79, 79);
	border-radius: 2rem;
	padding: calc(0.5rem + 0.2vmin) 0;
	width: calc(10rem + 5vmin);
	text-align: center;
	transition: background-color 0.3s, transform 0.3s;
	cursor: pointer;
	margin-bottom: calc(1.4rem + 1vmin);
}

.hide-chicken-btn:hover {
	transition: background-color 0.3s, transform 0.3s;
	background-color: rgb(255, 255, 255);
	transform: rotate(5deg);
}

@keyframes moveHead {
	0% {
	}
	25% {
		transform: translate(0.5rem, 1rem) rotate(5deg);
	}
	100% {
		transform: translate(0, 0) rotate(-5deg);
	}
}

@media screen and (max-width: 900px) {
	.content-wrapper {
		width: 100%;
	}
}
